/* custom prop */
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --headersFont: "Righteous", cursive;
  --bodyFont: "Open Sans", sans-serif;
  --regFontWight: 300;
  --boldFontWight: 900;
  --bgColor: #292929;
  --headerColor: #22b9a2;
  --bodyColor: #fff;
  --pageHeaderColor: #b18789;
}
/* geenral setup */

body {
  background: var(--bgColor);
  color: var(--bodyColor);
  margin: 0;
  font-family: var(--bodyFont);
  line-height: 1.6;
}
img {
  display: block;
  max-width: 100%;
}
/* header stying */
.header,
main {
  margin: 1rem 1rem 0 1rem;
}
.user {
  display: grid;
  justify-content: start;
  grid-template-columns: auto auto;
  grid-column-gap: 1em;
  grid-row-gap: 0px;
}
.PageHeader,
.subHeader {
  color: var(--pageHeaderColor);
  margin: 0;
}

.profPic {
  grid-area: 1 / 1 / 3 / 2;
}
.PageHeader {
  grid-area: 1 / 2 / 2 / 3;
  font-family: var(--headersFont);
}
.beta {
  font-size: 0.5em;
  font-weight: 300;
}
.subHeader {
  font-size: 1.2em;
  line-height: 25px;
  grid-area: 2 / 2 / 3 / 3;
}

.profPic {
  width: 100%;
  max-width: 130px;
  height: auto;
  border-radius: 5px;
}
.navBar {
}
.sticky {
  position: fixed;
  top: 0;
}
.navBar::after {
  content: " ";
  font-weight: 300;
  color: var(--bodyFont);
  display: block;
  background: var(--headerColor);
  width: 100%;
  height: 2px;
}
